@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700');

/*----------------------------
General Styles
----------------------------*/
body {
	background-color: #F0F1F5;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1, h2, h3 {
	font-family: 'Roboto Slab', serif;
}

a {
	text-decoration: none;
	color: #3F3F3F;
}

#wrapper {
	display: block;
	margin: 0 auto;
	width: 85%;
}



/*----------------------------
Header
----------------------------*/
#main-header {
	/*background-color: #8870FF;*/
	background-color: #f0f1f5;
	background-image: linear-gradient(0deg, #f0f1f5 0%, #8870ff 100%);
	color: #3F3F3F;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
}

#main-header h1 {
	font-weight: 700;
	font-size: 1.5em;
	padding-bottom: 20px;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
}

#main-header h2 {
	font-weight: 400;
	font-size: 1em;
	padding-bottom: 20px;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 1s;
}

#main-nav {
	list-style: none;
	display: flex;
	justify-content: space-around;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 2s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 2s;
}

#main-nav a {
	font-weight: 400;
	color: #3F3F3F;
}

.flex-container {
	margin: 0 auto;
	width: 100%;
}



/*----------------------------
Body
----------------------------*/

#main-content h2, h3 {
	padding: 15px 0;
	color: #8870FF;
}

#main-content h2 {
	font-size: 1.3em;
	text-align: center;
}

#main-content h3 {
	font-size: 1.1em;
	text-align: center;
}

#main-content p, li {
	color: #3F3F3F;
	line-height: 1.5em;
}

.badge {
	width: 100px;
}

.skills-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


/*----------------------------
Footer
----------------------------*/

.footer-contact {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}

.fa:hover {
	transition: color 0.15s ease;
}

.fa-facebook-square:hover {
	color: #3B5998;
}

.fa-twitter-square:hover {
	color: #00aced;
}

.fa-envelope-square:hover {
	color: #e74c3c;
}

.fa-free-code-camp:hover {
	color: #006400;
}

.fa-github-alt:hover {
	color: #6e5494;
}

.copyright {
	text-align: center;
}

.javascript-font {
	font-family: 'Neutra Text Bold';
}






